body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 8px; 
    height: 450px;  
    color: white;
     
}
.container form lable{
    color: white;
    }
.container form input{
    border: 0;
    outline: 0;
    width: 265px;
    height: 45px;
    border-radius: 6px;
    color: blue;
    background-color: rgb(223, 219, 219);
}
button{
    height: 45px;
    width: 130px;
    border-radius: 10px;
    margin-left: 25%;
    color: white;
    border: none;
    background-color: blue;
}
button:hover{
    background-color: aqua;
}

